<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* CSS styles */
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="https://raw.githubusercontent.com/ranjitdasofficial/rdserver/main/Premium/1704973749103_im.png" alt="Your Company" class="logo">
            <h2>Your account has been deactivated!</h2>
        </div>

        <div class="content">
            <p> <strong>Dear <%= name %>,</strong></p>

            <p>Your account has been deactivated due to an uncleared payment.</p>

        
            <a href="https://kiitconnect.com/" class="activation-button">Visit for more info</a>
          
        </div>

        <div class="footer">
            <p>For further assistance, contact our support team at support@kiitconnect.com</p>
            <div class="social-media">
                <a href="https://github.com/technicalranjitofficial/" target="_blank">Github</a>
                <a href="https://chat.whatsapp.com/C2RE26X5AMWDbswA7EbFVa" target="_blank">WhatsApp-1</a>
                <a href="https://chat.whatsapp.com/BAgHPirA4JzANjGKDd8z2q" target="_blank">WhatsApp-2</a>
                <a href="https://www.instagram.com/kiitconnect/" target="_blank">Instagram</a>
            </div>
            <p>&copy; 2024 KIIT-CONNECT. All rights reserved.</p>
        </div>
    </div>
</body>

</html>
