<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
        }

        .logo {
            max-width: 150px;
        }

        .content {
            margin-top: 20px;
        }

        .activation-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4caf50;
            color: #ffffff;
            text-decoration: none;
            border-radius: 3px;
            margin-top: 20px;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #777;
        }

        .social-media {
            margin-top: 10px;
        }

        .social-media a {
            margin: 0 10px;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="https://raw.githubusercontent.com/ranjitdasofficial/rdserver/main/Premium/1704973749103_im.png" alt="Your Company" class="logo">
            <h2>Important: Activate Your Premium Membership</h2>
        </div>

        <div class="content">
            <p> <strong> Dear user,</strong></p>

            <p>We invite you to join KIITConnect, a platform where you can access a variety of study materials to enhance your learning experience.</p>

            <p>Subscription Information:</p>
            <p style="color: red;">Access all study materials for just Rs.50 per semester. Pay once and enjoy unlimited access!</p>

            <p>Features:</p>
            <ul>
                <li>Access comprehensive notes, semester-specific books, and previous year questions with solutions.</li>
                <li>Review faculty members, swap sections, and access group links for collaboration.</li>
                <li>Use tools like the SGPA calculator and upcoming features like KIIT-LAB and real-time chat with KIITians.</li>
            </ul> 

            <a href="https://www.kiitconnect.com" class="activation-button">Access Now</a>
        </div>
        <div class="footer">
            <p>For further assistance, contact our support team at support@kiitconnect.com</p>
            <p>This is an automated email. Ignore if you have already subscribed to premium.</p>
            <div class="social-media">
                <a href="https://github.com/technicalranjitofficial/" target="_blank">Github</a>
                <a href="https://chat.whatsapp.com/C2RE26X5AMWDbswA7EbFVa" target="_blank">WhatsApp-1</a>
                <a href="https://chat.whatsapp.com/BAgHPirA4JzANjGKDd8z2q" target="_blank">WhatsApp-2</a>
                <a href="https://www.instagram.com/kiitconnect/" target="_blank">Instagram</a>
            </div>
            <p>&copy; 2024 KIIT-CONNECT. All rights reserved.</p>
        </div>
    </div>
</body>

</html>
