<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* CSS styles */
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="https://raw.githubusercontent.com/ranjitdasofficial/rdserver/main/Premium/1704973749103_im.png" alt="Your Company" class="logo">
            <h2>Important: Activate Your Premium Membership</h2>
        </div>

        <div class="content">
            <p> <strong>Dear <%= name %>,</strong></p>

            <p>We invite you to activate your premium account to access exclusive services tailored for KIIT University students. Access All the PYQS/Solution and Notes for your Exams</p>

            <p style="font-weight: bold;">Subscription Information:</p>
            <p style="color: red;">Activate your account now to enjoy all the benefits of premium membership.</p>

            <a href="https://kiitconnect.com/payment" class="activation-button">Activate Your Account</a>
            
            <div class="user-info">
                <p><strong>Name:</strong> <%= name %></p>
                <p><strong>Email:</strong> <%= email %></p>
               
                <p><strong>Payment Status:</strong> Payment Pending</p>
            </div>
        </div>

        <div class="footer">
            <p>For further assistance, contact our support team at support@kiitconnect.com</p>
            <div class="social-media">
                <a href="https://github.com/technicalranjitofficial/" target="_blank">Github</a>
                <a href="https://chat.whatsapp.com/C2RE26X5AMWDbswA7EbFVa" target="_blank">WhatsApp-1</a>
                <a href="https://chat.whatsapp.com/BAgHPirA4JzANjGKDd8z2q" target="_blank">WhatsApp-2</a>
                <a href="https://www.instagram.com/kiitconnect/" target="_blank">Instagram</a>
            </div>
            <p>&copy; 2024 KIIT-CONNECT. All rights reserved.</p>
        </div>
    </div>
</body>

</html>
